body {
  background: linear-gradient(rgb(0, 0, 255), rgb(85, 13, 121), rgb(0, 0, 0));
  text-align: center;
  height: 100px;
}
.imagen{
  height: 350px;
}
.imagen2{
  height: 350px;
}
h1{
  color: white;
}
